APP_HOST=0.0.0.0
APP_PORT=8080

DB_URL=postgres://shortlink:shortlinkpassword@localhost:5432/shortlink?sslmode=disable

JWT_SECRET=supersecretjwtkey
JWT_EXPIRATION_MINUTES=30

BASE_URL=http://localhost:8080
